$bgHeader: #000;
$colorHeader: #fff;

.header {
    width: 100%;
    padding: 1em;
    background-color: $bgHeader;
    color: $colorHeader;

    h1 {
        display: inline-block;
        margin: 0;
    }
    .menu {
        float: right;
        @media screen and (max-width: 700px) {
            margin-top: -10px;
        }
    }
    @media screen and (max-width: 700px) {
        .display-2 {
            font-size: 1em;
        }
    }
}
