<h1 class="mat-display-1">Dados cadastrados</h1>
<div class="contain">
  <div>
    <mat-list role="list">
        <mat-list-item role="listitem">
          <p class="subheading-2"><strong>Nome: </strong> {{contato?.nome}} </p>
        </mat-list-item>
        <mat-list-item role="listitem">
          <p class="subheading-2"><strong>Email: </strong> {{contato?.email}}</p>
        </mat-list-item>
        <mat-list-item role="listitem">
            <p class="subheading-2"><strong>Telefone: </strong> {{contato?.telefone | formatoTelefone}}</p>
        </mat-list-item>
        <div class="msg mat-body-1">
          <p class="subheading-2"><strong>Mensagem</strong> {{contato?.mensagem}}</p>
        </div>
    </mat-list>
  </div>
    <button mat-raised-button color="primary" class="voltar" (click)="voltar()">Voltar</button>
</div>
